@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'react-toastify/dist/ReactToastify.css';

/* || GENERAL */
@import './src/css/Variables.css';
@import './src/css/General.css';
@import './src/css/ScrollBar.css';
@import './src/css/UtilityClasses.css';

/* || COMPONENTS */
@import './src/css/components/Table.css';
@import './src/css/components/Form.css';
@import './src/css/components/Modal.css';
@import './src/css/components/Tab.css';

/* || MODALS */
@import './src/css/modal/ModalBook.css';
@import './src/css/modal/ModalLego.css';
@import './src/css/modal/ModalTonie.css';
@import './src/css/modal/ModalUser.css';

/* || PAGES */
@import './src/css/pages/public/Public.css';
@import './src/css/pages/backstage/Backstage.css';
@import './src/css/pages/backstage/Login.css';
@import './src/css/pages/backstage/Welcome.css';

/* || MEDIA QUERIES */
@import './src/css/mediaQuery/MediaQuery400Max.css';
@import './src/css/mediaQuery/MediaQuery768Min.css';

/* || ISBN SCANNER */
.barcode-scanner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.barcode-scanner .viewport {
  width: 100%;
  max-width: 480px;
  height: 320px;
  margin-bottom: 20px;
}

.barcode-scanner button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.barcode-scanner button:hover {
  background-color: #0056b3;
}
