.tabs-container {
  width: 100%;
  padding: 20px 0.5em;
}

.tabs {
  display: flex;
  background-color: var(--BGCOLOR);
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.tab {
  flex: 1;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--COLOR);
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid var(--BORDER-COLOR);
  margin-right: -1px;
  text-align: center;
  text-decoration: none;
}

.tab:hover {
  background-color: var(--LINK-HOVER);
}

.tab.active {
  background-color: var(--TABLE-BGCOLOR);
  color: var(--TABLE-COLOR);
  border-bottom: 1px solid var(--TABLE-BGCOLOR);
  position: relative;
  z-index: 1;
}

.tab-content {
  padding: 20px;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--TABLE-COLOR);
  border: 1px solid var(--BORDER-COLOR);
  border-top: none;
  border-radius: 0 0 8px 8px;
}
